@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

input {
	-webkit-appearance:none;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
img {
	border: 0
}

fieldset {
	border:0
}
legend {
	border:0
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.box {
	padding:.65em
}
.hidden {
	display:none
}
.disabled {
	color:#999
}
/* Forms */
label, .label, .radio, .checkbox, legend {
	font-weight:bold
}
label, .label {
	display:block;
	margin-bottom:.5em
}
.radio label, .checkbox label {
	display:inline-block;
	line-height:48px;
	float:left;
	font-size: 1.5em;
	font-weight: normal;
}
.radio label span, .checkbox label span {
	color: #555;
}
.checkbox input, .radio input {
	height:32px;
	width:32px;
	float:right;
	border:0;
	background-color:transparent;
	background-repeat:no-repeat;
}
.radio input {
	background-image:url(./img/radio.png);
	margin-top: 5px;
	margin-right: 10px;
}
.radio input:checked {
	background-position:left -38px
}
.checkbox input {
	background-image:url(./img/checkbox.png);
	margin-top: 10px;
}
.checkbox input:checked {
	background-position:left -38px;
}
input[type="search"], input[type="text"], input[type="number"], input[type="tel"], input[type="url"], input[type="password"], textarea {
	-webkit-border-radius:5px;
	border:1px solid #9b999b;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	line-height:36px;
	display:block;
	width:99%
}
textarea {
	line-height:1.4em;
	overflow:auto
}
.select {
	-webkit-border-radius:5px;
	border:1px solid #666;
	background: url(./img/forms.png) no-repeat right -130px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(189, 189, 189, 1)));
	height:40px;
	text-indent:10px;
	width:99%;
	display:inline-block
}
.button, input[type="submit"], input[type="button"] {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf7fa), color-stop(5%, #f5f1f5), color-stop(22%, #eae7ea), color-stop(61%, #c7c7c7), color-stop(83%, #bdbebd), color-stop(88%, #bfc1bf), color-stop(93%, #cacbca), color-stop(95%, #d1d2d1), color-stop(100%, #e8e9e8));
	-webkit-border-radius:5px;
	border:1px solid #333;
	border-top:1px solid #999;
	color:#333;
	line-height:40px;
	font-size:140%;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	width:99%
}
.button.inline {
	display:inline-block;
	width:auto;
	padding:0 2em
}
.button.inline + .button.inline {
	margin-left:1em
}
.counter {
	float:right;
	padding:.5em
}

/* Header */
header {
	text-align:center;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	background:#b9090b;
	min-height:47px
}
header h1 {
	display:inline-block;
	color:#fff;
	white-space:nowrap;
	font-size:16px;
	line-height:47px;
	letter-spacing:.04em;
	text-shadow: 0 -1px 1px #000;
}
header .button {
	border: 1px solid #000;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000000;
	letter-spacing:.05em;
	font-size:13px;
	-webkit-border-radius:7px;
	text-align:center;
	text-decoration:none;
	padding:0 7px;
	width:auto;
	float:left;
	margin-left:10px;
	margin-top:9px;
	line-height:27px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(50%, #2c2c2c), color-stop(51%, #000000), color-stop(60%, #111111), color-stop(76%, #2b2b2b), color-stop(91%, #1c1c1c), color-stop(100%, #131313));
}
header .button + .button {
	float:right;
	margin-right:10px
}

/* Footer */
footer {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	z-index:10;
	background:#000;
	text-align:center
}
/* Main Content */
#content {
	min-height:100%
}
#content h2, #content h3 {
	margin-bottom:.5em
}
/* List Views */
.list {
	font-family: 'OpenSansRegular';
	color: #fff;
}
.list li {
	font-weight:normal;
	overflow: hidden;
	border-bottom: 1px dotted #000;
}
/*.list li + li {
	border-top:1px solid #000
}*/
.list.checkbox li {
	padding:10px;
}
.list a {
	background: url(./img/list-arrow.png) no-repeat right center;
	text-decoration:none;
	color:#fff;
	padding:15px 10px;
	display: block;
}
.list p {
	margin:.25em 0 0 0;
	font-size:.8em
}
.list img {
	float:left;
	max-width:80px;
	max-height:80px;
	margin-right:10px
}

/*.icon-list {
	background:#fff
}*/
.icon-list li {
	margin:0;
	padding:.5em 0;
	color: #fff;
	overflow: hidden;
}
.icon-list label, .icon-list a {
	text-decoration:none;
	padding-left:45px;
	line-height:40px;
	background-image:url(./img/icons-off.png);
	background-repeat:no-repeat;
}
.icon-list a.disabled {
	color:#999
}

.list-header {
	 height: auto !important;
}
.list.checkbox .list-header {
	padding: 0;
}
.list-header p {
	font-size: 2.5em;
	color: #0079ff;
	font-weight: normal;
	text-align: left;
	padding: 10px;
}
/* Google Maps */
#map-holder {
	position:relative;
	margin-top:47px
}
#map_canvas {
	width:100%;
	height:100%;
}
#map_canvas * {
	overflow:visible;
	display:inline;
}