/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END */

html {
	height: 100%; /*for the menu to stretch to the bottom*/
}

body {
	background: #45484d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: relative; /*for the menu to stretch to the bottom*/
	height: 100%;
	overflow: hidden;
	font-family: 'OpenSansRegular', sans-serif;
	font-size:8px;
	-webkit-text-size-adjust: 100%;
}
#timeline {
	font-size: 13px;
}
.splash {
	text-align:center;
	padding:50px 1em 0 1em
}
.splash h1 {
	width:260px;
	height:93px;
	margin:0 auto 50px auto;
	background:url(./img/splash-w.png) no-repeat;
	font-size: 0;
}
.splash h1 span {
	visibility:hidden
}

.device {
	line-height:100px;
	padding-left:100px;
	margin-bottom:1em;
	background-image:url(./img/devices.png);
	background-repeat:no-repeat
}
h1.pc {
	background-position:left -80px
}
footer .checkbox {
	margin:0 2em
}
footer .checkbox label {
	color:#fff
}
.tweet {
	text-indent:1em;
	padding-top:1em
}
.thumbs {
	padding:10px
}
.thumbs img {
	float:left
}
#map-holder {
    margin-top: 67px
}
#current {
	color:#ccc;
	margin:1em
}

#menucreate {color: #8f0}
#menutwitter {color: #08f}
#menusettings {color: #f80}
/* background images */
.main li a:before, #secondarymenu li a:before {
	content: "";
	height: 50px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-repeat: no-repeat;
}
.main li a:before {
	background-image: url(./img/menuSmall.png);
	/*background-size: 40px;*/
}
.main li a:hover:before {
	background-image: url(./img/menuSmall-hover.png);
}
#menucreate:before {background-position: 50% 0px;}
#menutwitter:before {background-position: 50% -45px}
/*#menuauthorize:before {background-position: 50% -175px}*/
#menusettings:before {background-position: 50% -145px}

/* Icons */
/*#secondarymenu a:before {
	background-image:url(img/icons-off.png);
}
#secondarymenu a:before.current {
	background-image:url(img/icons-on.png);
}
#createUsers:before {
	background-position:center -960px
}
#twitterBox:before {
	background-position:center -880px
}
.users, .all {
	background-position:center -560px
}
.media {
	background-position:center -2480px
}
.location {
	background-position:center -400px
}
.personal {
	background-position:center -640px
}
.unauthorized {
	background-position:center -2160px
}
.capture {
	background-position:center -1520px
}
.gallery {
	background-position:center -2280px
}
.cloud {
	background-position:center -800px
}
.messages {
	background-position:center -1120px
}
.camera {
	background-position:center -2080px
}
.tv {
	background-position:left -80px
}
.mobile {
	background-position:left -240px
}
.folder {
	background-position:left -1760px
}
.video {
	background-position:left -1280px
}
.audio {
	background-position:left -1920px
}
.photo {
	background-position:left -1440px
}
.car {
	background-position:left -320px
}
.mentions {
	background-position:center -1680px
}
.timeline {
	background-position:center -2240px
}
.devices {
	background-position:center -2400px
}
.pc {
	background-position:left -160px
}*/

#content {
	background: #111 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAF0lEQVQYlWNgIAJISUn9H1VET0UMDAwAX18NA9PnsUEAAAAASUVORK5CYII=);
	padding: 62px 0;
	height: 100%;
	overflow: auto;
}

#globalmenu, #secondarymenu {
	display: block;
	position: fixed;
	width: 100%;
	height: 62px;
}
#globalmenu {
	border-bottom: 2px solid #0079C1;
}
#secondarymenu {
	bottom: 0;
	border-top: 2px solid #0079C1;
}
.logo {display: none;}
.main, #secondarymenu ul {
	height: 100%;
	width: 100%;
	position: absolute;
}
/* to be added when global.css is gone
 * #secondarymenu ul, #globalmenu ul {
	list-style: none;
	list-style-image: none;
}*/
.main li, #secondarymenu li {
	margin: 0;
	font-weight: bold;
	float: left;
	height: 100%;
	/*border: 1px dotted #151515;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main li+li, #secondarymenu li+li {
	border-left:none;
}
.main li {width: 25%;}
.main li .current {
	color: #000;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#89ade2), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #89ade2 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
}

.one li {width: 100%;}
.two li {width: 50%;}
.three li{width: 33.3%;}
.four li {width: 25%;}
.five li {width: 20%;}
.unknown li {width: auto;}

.main li a, #secondarymenu li a {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 0;
	background: #151515; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #151515 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#151515), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #151515 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #151515 0%,#000000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #151515 0%,#000000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #151515 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: relative;
	z-index: 1;
	color: #fff;
	text-decoration: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 1.5em;
}
#secondarymenu li a {
	display: table;
}
#secondarymenu.menucreate li a {
	color: #8f0;
}
#secondarymenu.menutwitter li a {
	color: #08f;
}
#secondarymenu.menusettings li a {
	color: #f80;
}
.main li a span/*, #secondarymenu li a span*/ {
	position: relative;
	top: 44px;
}
#secondarymenu li a span {
	/*position: relative;
	top: 24px;*/
	display: table-cell;
	vertical-align: middle;
}

.three li{width: 33.3%;}
.main li {width: 33.3%;}

#globalmenu, #secondarymenu {
	display: block;
	position: fixed;
	z-index: 10;
	background: #000;
}

#content > div {
	display: none;
}

#content > .activeContent {
	display: block;
}

#create {
	height: 220px;
	margin: 10px;
}

.jMax {
	width: 100%;
}
.jMax textarea {
	width: 99.5%;
	resize: none;
	height: 5.5em;
}

.jMax textarea {
	border: 2px solid #ccc;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	background-color: #fff;
	font-family: Arial;
	color: #999;
	width: 100%;
	height: 9.5em;
	font-size: 24px;
	padding: 10px;
	resize: none;
	overflow: auto;
	-moz-box-shadow: inset 0 0 30px #bbb;
	-webkit-box-shadow: inset 0 0 30px #bbb;
	box-shadow: inset 0 0 30px #bbb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.jMax textarea:focus {
	outline: none;
	color: #0079c1;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.jMax-text {
	margin: 5px;
	font-size: 2em;
	color: #fff;
}
.jMax-submit {
	margin: 5px 5px 5px 10px;
	height: 25px;
	overflow: visible;
}
.jMax-submit input[type="submit"] {
	width: 100px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	background: #08f;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	border-radius: 10px;
}
.jMax-submit input[type="submit"].disabled {
	cursor: default;
	color: #999;
	background: #333;
}
.jMax-submit input[type="submit"].enabled:hover {
	background: #80f;
}

#splash img {
	display: none;
	margin: 4em auto 0;
}

#timeline a {
	position: relative;
}
#timeline img {
	position: absolute;
}
#timeline h3, #timeline p {
	padding-left: 55px;
	padding-right: 20px;
}
#timeline h3 {
	color: #08f;
	margin-bottom: 0.2em;
}
#timeline .date, .list a h3 span {
	color: #666;
}
#timeline p {
	color: #fff;
}

/*****************************************
 *             large screen
 ****************************************/

@media screen and (min-width: 960px)
{
	body {
		/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAwkGQmokQTKP8enCKwAZAguRXAFuBShKMCmCEMBuiKsCpAV4VQAU4RXAUgRAKwrCCMlYC4oAAAAAElFTkSuQmCC), -webkit-gradient(linear, left top, right top, color-stop(0%, #999), color-stop(46%, white), color-stop(54%, white), color-stop(100%, #999));*/
		width: 960px;
		margin: 0 auto;
		font-size: 15px;
	}
	#timeline {
		font-size: 15px;
	}
	#content {
		padding: 0 0 0 350px;
		border-right: 2px solid #0079C1;
	}
	.splash {
		padding-left: 1em !important;
	}
	#splash img {
		margin: 12em auto 0;
	}
	#globalmenu {
		display: block;
		position: absolute;
		width: 330px;
		height: 100%;
		border-bottom: none;
	}
	.main {
		position: absolute;
		border-right: 1px solid #666666;
		background: #000;
		min-height: 100%;
		height: auto;
		border-right: 2px solid #0079C1;
		border-left: 2px solid #0079C1;
	}
	#secondarymenu {
		display: block;
		position: absolute;
		top: 400px;
		left: 0;
		width: 335px; /*globalmenu.width - secondarymenu.left*/
		height: auto;
		border-top: none;
		background: transparent;
	}
	#secondarymenu ul {
		height: auto;
		background: none;
	}
	.main li {
		margin: 4px 0;
		font-weight: bold;
		float: none;
		height: auto;
		width: auto;
	}
	.main li a, .main .logo {
		width: 	150px;
		height: 150px;
	}
	.main li a {
		border-radius: 75px;
		position: relative;
		overflow: hidden;
		font-size: 1em;
	}

	#menucreate {background: #8f0}
	#menutwitter {background: #08f}
	#menusettings {background: #f80}
	/* background images */
	.main li a:before {
	    height: 100px;
	    z-index: -1;
	    background-image: url(./img/menu-white.png);
	    top: 10px;
	}
	.main li a:hover:before {
		background-image: url(./img/menu-black.png);
		opacity: 0.6;
	}
	#menucreate:before {background-position: 50% 20px}
	#menutwitter:before {background-position: 50% -72px}
	/*#menuauthorize:before {background-position: 50% -175px}*/
	#menusettings:before {background-position: 50% -270px}
	/* end */

	.main li a, #secondarymenu li a {
		text-decoration: none;
		text-align: center;
		border: 1px solid #111;
	}
	.main li a span {
		position: relative;
		top: 150px;
		-webkit-transition: all 0.2s ease-in;
		color: rgba(0,0,0,0.6);
		font-weight: bold;
		font-size: 0.9em;
	}
	.main li a:hover span {
		top: 115px;
	}

	.main .logo {
		display: block;
		background: url(./img/splash130-w.png) 50% 50% no-repeat;
		position: Absolute;
		left: 10px;
		top: 10px;
	}
	.menu-create {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.menu-twitter {
		position: absolute;
		left: 10px;
		top: 170px;
	}
	.menu-settings {
		position: absolute;
		right: 10px;
		top: 170px;
	}

	#secondarymenu p {
		font-weight: bold;
		line-height: 30px;
		margin: 0;
		background: #333;
		color: white;
		padding: 0 10px;
		font-size: 110%;
		border-top: 3px solid #111;
	}
	#secondarymenu ul {
		margin: 1em;
		width: auto;
		position: static;
		border-right: none;
	}
	#secondarymenu li {
		margin: 0 0 0.5em 0.5em;
		width: 100%;
	}

	#secondarymenu li a {
		text-align: left;
		background: none;
		border: none;
		font-family: 'OpenSansLight';
		font-size: 2em;
	}
	#secondarymenu li a:hover {
		color: #fff;
	}
	#secondarymenu li a span {
		position: static;
	}
	/* demo specific */
	.contacts {
		height: 70%;
	}
	.contacts ul {
		width: 49.5%;
		float: left;
	}
	.contacts ul+ul {
		float: right;
	}
	/*sweetdemo specific*/
	#twitcontacts {
		width: 49.5%;
		float: left;
	}
	#devcontacts {
		width: 49.5%;
		float: right;
	}
	#twitcontacts ul, #devcontacts ul {
		width: 100%;
	}
	#contactscontainer ul {
		width: 49.5%;
		float: left;
	}
	#contactscontainer ul+ul {
		float: right;
	}

	.main li {width: auto;}

	.jMax textarea {
		height: 5.5em;
	}
}
